[submodule "Assets/Svelto/Svelto.ECS"]
	path = Assets/Svelto/Svelto.ECS
	url = git@github.com:jlreymendez/Svelto.ECS.git
[submodule "Assets/Svelto/Svelto.Tasks"]
	path = Assets/Svelto/Svelto.Tasks
	url = git@github.com:jlreymendez/Svelto.Tasks.git
